<div class="login-page">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3 col-xs-12">
                <h1 class="text-xs-center">Sign in</h1>
                <p class="text-xs-center">
                    <a routerLink="/register" routerLinkActive="router-link-active">Need an account?</a>
                </p>

                @if (validationErrors()) {
                    <mds-backend-errors [errors]="validationErrors()"></mds-backend-errors>
                }

                <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                    <fieldset class="form-group">
                        <input
                            [formControlName]="loginFormField.email"
                            [ngClass]="{
                                'login-page__invalid':
                                    loginForm.get(loginFormField.email)?.invalid &&
                                    loginForm.get(loginFormField.email)?.touched,
                            }"
                            class="form-control form-control-lg"
                            type="text"
                            placeholder="Email"
                        />
                    </fieldset>
                    <fieldset class="form-group">
                        <input
                            [formControlName]="loginFormField.password"
                            [ngClass]="{
                                'login-page__invalid':
                                    loginForm.get(loginFormField.password)?.invalid &&
                                    loginForm.get(loginFormField.password)?.touched,
                            }"
                            class="form-control form-control-lg"
                            type="password"
                            placeholder="Password"
                        />
                    </fieldset>
                    <button [disabled]="isSubmitting() || isFormDisabled" class="btn btn-lg btn-primary pull-xs-right">
                        Sign in
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
